* {
  margin: 0;
  box-sizing: border-box;
}
.nav {
  height: 10vh;
  width: 100vw;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  padding: 40px;
}
input {
  border-radius: 5%;
  height: 30px;
  border: solid gray;
}
.main {
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.profile_box {
  padding: 5px;
  border-radius: 5%;
  border: solid;
  border-color: lightblue;
  height: 400px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile_box .picture {
  background-color: lightblue;
  height: 80px;
  width: 80px;
  border-radius: 30%;
}
li {
  list-style: none;
}

.footer {
  background-color: lightblue;
  text-align: center;
}
